<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>If you have any questions, please feel free to hit the contact us button on <a href="http://railstutorial.org/">the Ruby on Rails Tutorial Page</a>.
</p>